.content-wrapper {
  padding: 64px 50px;
}

.custom-button {
  background-color: rgba(37,46,57,.6);
  padding: 9px 36px;
  border-radius: 30px;
  color: #f2f4f6;
  transition: background-color .25s ease;
  margin-right: 1rem;
}

.custom-button:hover {
  background-color: grey;
  color: #f2f4f6;
}

.custom-button:focus {
  box-shadow: none;
}

.custom-button.active-button {
  background-color: #f2f4f6;
  color: #0f171e;
}
