.thumbnail-wrapper {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: .5rem;
}

.thumbnail-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s;
}

.thumbnail-wrapper img:hover {
  transform: scale(1.1);
}
